<!DOCTYPE html>
<html lang="en">
    <%- include('partials/_header') -%>
    <body id="page-top">
        <!-- Navigation-->
        <%- include('partials/_addNav') -%>
<body>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="text-center p-3">
                    <h2 class="section-heading text-uppercase"> Update Page </h2>
                </div>
                <form method="POST" action="/photos/<%= photoID._id %>?_method=PUT" encType="multipart/form-data">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group p-2">
                                <!-- Title input-->
                                <input class="form-control p-2 m-1" name="title" type="text" placeholder="Edit Photo Title" value="<%= photoID.title %>" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea m-1">
                                <!-- Description input-->
                                <textarea class="form-control" rows="8" name="description" placeholder="Edit your description" required><%= photoID.description %></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button-->
                    <div class="text-center p-3">
                        <button class="btn btn-primary btn-xl" type="submit">
                            Update Photo
                        </button>
                    </div>
                </form>
            </div>
    </section>
    
</body>
</html>