<!DOCTYPE html>
<html lang="en">
    <%- include('partials/_header') -%>
    <body id="page-top">
        <!-- Navigation-->
        <%- include('partials/_indexNav') -%>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="photos">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row">
                    <!-- Portfolio Item 1-->
                    <% for (let i = 0; i < photos.length; i++) { %>
                    <div class="col-md-6 col-lg-4 mb-5 float-start">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white">
                                    <i class="fas fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <a href="/photos/<%= photos[i]._id %>">
                                <img class="img-fluid" src="<%= photos[i].image %>" alt="..." />
                            </a>
                            <h5> <%= photos[i].title.substring(0,40) %> </h5>
                            <p> <%= photos[i].description.substring(0,80) %>... </p>
                        </div>
                    </div>
                    <% } %>
                    <!-- Pagination -->
                    <div>
                        <% if (pages > 0) { %>
                            <nav aria-label="Page navigation example text-center">
                                <ul class="pagination">
                                    <% for( i=1; i <= pages; i++ ) { %>
                                    <li class="page-item"><a class="page-link" href="/?page=<%= i %>"> <%= i %> </a></li>
                                    <% } %>
                                </ul>
                            </nav>
                        <% } %>
                    </div>
                    <!-- Pagination -->
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include('partials/_footer') -%>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Your Website 2023</small></div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
